.login{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.login__container {
  margin-top: 155px;
  height: 100%;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: #929FB1;
}
.login__box{
  background-color: #fff;
  box-shadow: 0px 5px 5px #ccc;
  border-radius: 5px;
  border-top: 1px solid #e9e9e9;

  width: 384px;
  padding: 33px
}
.login__header{
  color: #31303D;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 60px;
  text-align: center;
}
.login__subtitle{
  color: #929FB1;
  font-size: 18px;
  font-weight: bold;
}
.login__subtitle__id{
  font-size: 14px;
  color: #818891;
}
.text-muteding{
  color: #929FB1 !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}

.form-group > input{
  border: none;
  border-bottom: 1px solid #929fb1;
  color: #929fb1 !important;
  font-size: 15px;
  appearance: none;
}
.form-group > input:focus{
  outline-width: 0 !important;
  border: none !important;
  appearance: none;
  outline: none;
}
.btn-primary, .btn-primary:focus {
  background-color: #7756FD !important;
  border: none !important;
  font-weight: bold;
}
.btn-secondary{
  color: #929FB1 !important;
  background-color: white !important;
  font-weight: lighter !important;
  font-size: 0.9rem !important;
  border-color: #929FB1 !important;
}